# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Local environment files
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Large binaries (General)
*.exe
*.dll
*.so
*.dylib
**/terraform-provider-*

# Provider cache
.terraform.d/
